<!-- Include Header  -->
<%- include('include/_header')%>
<!-- /Include Header  -->

    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <a href='/' class='border-shadow add'>
                    <span class='text-gradient'>All Users
                    </span>
                  
                </a>
                
            </div>

            <div class="form-title text-center">
                <h2 class='text-dark'>New User</h2>
            </div>

            <form action='/post' method='POST' id='add-user'>
                <div class="form-group">
                    <ul>
                        <li>
                            <label for="name" class="text-light">Name</label>
                            <input type='text' name='name' placeholder='Johanes Lee' required>
                        </li>
                        
                        <li>
                            <label for="email" class="text-light">Email</label>
                            <input type='email' name='email' placeholder='johaneslee26@gmail.com' required>
                        </li>
                        <li>
                            <label for="gender" class="text-light">Gender</label>
                            <input type='text' name='gender' placeholder='male' required>
                        </li>
                        <li>
                            <label for="status" class="text-light">Status</label>
                            <input type='text' name='status' placeholder='active' required>
                        </li>
                        
                        <li>
                            <button id='submit'>Submit</button>
                        </li>
    
                    </ul>
                </div>
            </form>
        </div>
    </main>

<!-- Include Footer  -->
<%- include('include/_footer')%>
<!-- /Include Header  -->